// src/css/quasar.variables.scss

$primary: #051a2e;
$secondary: #205f99;
$accent: #6bb7ff;

$dark: #001221;
$dark-page: #051a2e;

$positive: #33ff63;
$negative: #ff1934;
$info: #c7f6ff;
$warning: #d1721f;
